# Car Prediction

##Importación de datos

In [734]:
import numpy as np
import pandas as pd


df = pd.read_csv('https://raw.githubusercontent.com/JotaLeutgeb/proyectofinalDS1/main/Car_Prediction/car_price_prediction.csv')

## Entendiendo los datos

In [735]:
df.head(10)

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
5,45802912,39493,891,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,160931 km,4.0,Automatic,Front,04-May,Left wheel,White,4
6,45656768,1803,761,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,1.8,258909 km,4.0,Automatic,Front,04-May,Left wheel,White,12
7,45816158,549,751,HYUNDAI,Sonata,2013,Sedan,Yes,Petrol,2.4,216118 km,4.0,Automatic,Front,04-May,Left wheel,Grey,12
8,45641395,1098,394,TOYOTA,Camry,2014,Sedan,Yes,Hybrid,2.5,398069 km,4.0,Automatic,Front,04-May,Left wheel,Black,12
9,45756839,26657,-,LEXUS,RX 350,2007,Jeep,Yes,Petrol,3.5,128500 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12

Nombres, cantidad y tipos de valores en columnas.

In [736]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB

In [737]:
df.isna().sum()

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

Ninguna fila con datos nulos.

In [738]:
for col in df.columns:
    print(f"columna {col} : {df[col].nunique()}")
    print("****"*9)

columna ID : 18924
************************************
columna Price : 2315
************************************
columna Levy : 559
************************************
columna Manufacturer : 65
************************************
columna Model : 1590
************************************
columna Prod. year : 54
************************************
columna Category : 11
************************************
columna Leather interior : 2
************************************
columna Fuel type : 7
************************************
columna Engine volume : 107
************************************
columna Mileage : 7687
************************************
columna Cylinders : 13
************************************
columna Gear box type : 4
************************************
columna Drive wheels : 3
************************************
columna Doors : 3
************************************
columna Wheel : 2
************************************
columna Color : 16
************************************
columna Airbags : 17
************************************

In [739]:
df['Gear box type'].unique()

array(['Automatic', 'Tiptronic', 'Variator', 'Manual'], dtype=object)

## Análisis exploratorio y Limpieza de datos

In [740]:
df.describe()

                 ID         Price    Prod. year     Cylinders       Airbags
count  1.923700e+04  1.923700e+04  19237.000000  19237.000000  19237.000000
mean   4.557654e+07  1.855593e+04   2010.912824      4.582991      6.582627
std    9.365914e+05  1.905813e+05      5.668673      1.199933      4.320168
min    2.074688e+07  1.000000e+00   1939.000000      1.000000      0.000000
25%    4.569837e+07  5.331000e+03   2009.000000      4.000000      4.000000
50%    4.577231e+07  1.317200e+04   2012.000000      4.000000      6.000000
75%    4.580204e+07  2.207500e+04   2015.000000      4.000000     12.000000
max    4.581665e+07  2.630750e+07   2020.000000     16.000000     16.000000

No se identificaron outliers


###Organización y cambios preliminares en columnas

In [741]:
df.rename(columns={'Prod. year': 'Prod year'}, inplace=True)

In [742]:
df.columns = [col.replace(' ', '_') for col in df.columns]

In [743]:
df.columns.tolist()

['ID',
 'Price',
 'Levy',
 'Manufacturer',
 'Model',
 'Prod_year',
 'Category',
 'Leather_interior',
 'Fuel_type',
 'Engine_volume',
 'Mileage',
 'Cylinders',
 'Gear_box_type',
 'Drive_wheels',
 'Doors',
 'Wheel',
 'Color',
 'Airbags']

***Columnas normalizadas y organizadas ✅***

##Limpieza

###Limpieza general del *DataFrame*

In [744]:
df.duplicated().sum()

313

In [745]:
df.drop_duplicates(inplace=True)

Filas duplicadas eliminadas ✅

In [746]:
df = df.drop(['ID'],axis=1)

Eliminación de la columna `'ID'`, ya que tenemos una por defecto

### Limpieza `'Levy'`

In [747]:
df['Levy'].value_counts()

-       5709
765      482
891      453
639      403
640      398
        ...
3156       1
2908       1
1279       1
1719       1
1901       1
Name: Levy, Length: 559, dtype: int64

In [748]:
df['Levy'].str.contains('-').sum()

5709

In [749]:
df = df[df['Levy'] != '-']
df['Levy'] = df['Levy'].astype('int64')
df['Levy'].sample(20)

11303     765
1720     1017
4633      862
10017     738
11722     690
5920     1079
18064     831
3352      609
16828     530
11220    2084
16194     730
2123      640
8507      642
17316     781
4515     1077
2861      640
3476      640
6440      640
16179     640
2830     1104
Name: Levy, dtype: int64

Reemplazo de "-" por 0 en `'Levy'` para tener solo ints en la columna.

***Limpieza `'Levy'` ✅***

###Limpieza `'Mileage'`

Eliminación del str 'km' en la columna 'Mileage' para tener únicamente valores de tipo int.

In [750]:
df['Mileage'].str.contains('km').sum()

13215

In [751]:
df['Mileage'] = df['Mileage'].str.replace('km',"")

In [752]:
df['Mileage'] = df['Mileage'].astype('int64')

***Limpieza `Mileage`✅***

###Limpieza `'Engine_volume'`

Borrando "turbo" para tener valores int en la columna 'Engine_volume"

In [753]:
df['Engine_volume'].str.contains('Turbo').sum()

755

In [754]:
df['Engine_volume'] = df['Engine_volume'].str.replace('Turbo',"")

In [755]:
df['Engine_volume'] = df['Engine_volume'].astype('float64')

In [756]:
df['Engine_volume'].sample(10)

1736     3.5
16409    2.5
6522     1.5
14593    2.5
247      1.8
199      2.0
10625    2.4
15835    2.0
11096    4.6
9567     2.4
Name: Engine_volume, dtype: float64

***Limpieza `Engine_Volume` ✅***

### Limpieza `'Airbags'`

Se encontró un error en los airbags, hay veces en la que indica 0 y eso no necesariamente está bien ya que los airbgas fueron reglamentarios a partir de 1998.

---

Aquellos valores que sean 0 a partir de ese año(Fecha en la que se volvieron obligatorios en USA), se reemplazarán por 2, que es el mínimo: (conductor y pasajero).

---

Probablemente queden airbags == 0, pero no serán valores erróneos sino correctos.

In [757]:
df[(df['Airbags'] == 0) & (df['Prod_year'] >= 1998)]['Airbags'].count()

1773

In [758]:
df.loc[(df['Airbags'] == 0) & (df['Prod_year'] >= 1998), 'Airbags'] = 2

In [759]:
df[(df['Airbags'] == 0) & (df['Prod_year'] >= 1998)]['Airbags'].count()

0

***Limpieza `'Airbags'` ✅***

### Limpieza `'Doors'`

In [760]:
df['Doors'].unique()

array(['04-May', '02-Mar', '>5'], dtype=object)

Como se puede ver, la columna doors tiene 1 valor numérico, y seguido un mes.

In [761]:
def reemplazar_doors(valor):
  # Hay solo 3 valores en el dataframe: ['04-May', '02-Mar', '>5']
    if valor == '04-May':
        return '4-5'
    elif valor == '02-Mar':
        return '2-3'
    else:
        return valor # Si no aplican los condicionales anteriores, se mantiene el '>5'

In [762]:
df['Doors'] = df['Doors'].astype(str)
df['Doors'] = df['Doors'].apply(reemplazar_doors)
df['Doors']

0        4-5
1        4-5
3        4-5
4        4-5
5        4-5
        ...
19231    4-5
19233    4-5
19234    4-5
19235    4-5
19236    4-5
Name: Doors, Length: 13215, dtype: object

In [763]:
df['Doors'].unique()

array(['4-5', '2-3', '>5'], dtype=object)

***Limpieza `'Doors'`✅***

###Limpieza `'Price'`

Analizando el precio se pueden ver valores menores a 1000, que parece un número demasiado bajo para el análisis.

In [764]:
df[df['Price'] < 500]

,Price,Levy,Manufacturer,Model,Prod_year,Category,Leather_interior,Fuel_type,Engine_volume,Mileage,Cylinders,Gear_box_type,Drive_wheels,Doors,Wheel,Color,Airbags
33,125,1750,TOYOTA,Highlander,2008,Sedan,Yes,Hybrid,3.3,287274,6.0,Automatic,4x4,4-5,Left wheel,White,12
39,314,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,382746,6.0,Automatic,4x4,4-5,Left wheel,Silver,12
45,220,1194,TOYOTA,Tacoma,2013,Jeep,Yes,Petrol,4.0,239342,6.0,Automatic,4x4,4-5,Left wheel,Silver,12
53,392,1017,MERCEDES-BENZ,E 300,2017,Sedan,Yes,Petrol,2.0,1600,4.0,Automatic,Rear,4-5,Left wheel,Black,12
58,392,919,BMW,535,2012,Sedan,Yes,Petrol,3.0,204318,6.0,Automatic,Rear,4-5,Left wheel,Black,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19156,470,738,FIAT,500,2017,Jeep,Yes,Petrol,1.4,70941,4.0,Automatic,Front,4-5,Left wheel,Green,12
19186,470,1901,CHEVROLET,Malibu,2008,Sedan,Yes,Petrol,3.6,260349,6.0,Automatic,Front,4-5,Left wheel,Black,12
19215,470,831,HYUNDAI,Elantra,2017,Sedan,Yes,Petrol,1.6,25635,4.0,Automatic,Front,4-5,Left wheel,Black,12
19230,470,645,TOYOTA,Prius,2011,Hatchback,Yes,Hybrid,1.8,307325,4.0,Automatic,Front,4-5,Left wheel,Silver,12
19236,470,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923,4.0,Automatic,Front,4-5,Left wheel,White,12

Eliminamos todos los valores <= 500 ya se consideraron como valores erróneos

In [765]:
#df = df.drop(df[df['Price'] < 500].index)
df = df[df['Price'] >= 500]

In [766]:
#Verificación si se eliminó correctamente
df[df['Price'] < 500]['Price'].count()

0

***Limpieza `'Price'`✅***

## Visualizaciones

###Análisis de datos

- Precio promedio por año
- precio promedio por marca
- Distribució por categoría de auto
- Distribución por gear type
- Distribución leather interior
- Distribución por manufacturador